.title {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 0;
  text-align: center
}

div {
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

#status {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  text-align: center
}

.board {
  background-color: #333;
  display: table;
  height: 303px; 
  padding: 25px;
  width: 303px
}

table {
  border-collapse: collapse;
  color: #c1c1c1;
  font-family: 'Fredoka One', 'Comic Sans MS', sans-serif;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 100%
}

td {
  border: 3px solid #adadad;
  font-size: 79px;
  height: 33.333%;
  padding: 0;
  text-align: center;
  width: 33.333%
}

tr:first-child td {
  border-top-color: transparent
}

tr:last-child td {
  border-bottom-color: transparent
}

tr td:first-child {
  border-left-color: transparent
}

tr td:last-child {
  border-right-color: transparent;
}

.btn {
  background-color: #fff;
  border: none;
  color: #333;
  font-weight: 800;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase
}

.btn:active {
  opacity: 0.5
}

.animate {
  animation: pulse 1000ms alternate infinite
}

@keyframes pulse {
  from { opacity: 1 }
  to { opacity: 0 }
}

@media only screen and (max-width: 380px) {
  .board {
    height: 250px;
    width: 250px
  }

  td {
    font-size: 64px
  }
}